# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Makefile
/nbproject/private/launcher.properties
CMakeCache.txt
cmake_install.cmake
CMakeFiles
nbproject/*
/Steganifyer
/.vs
/.vscode
/build